<h1>Admin</h1>
<head>
	<title> Team </title>
	<meta charset ="UTF-8">
</head>
<body>
<nav> <div id=float>
	
		<nav id="navigation">
			<ul>
				<li><a href="http://localhost:3000"> Home </a>  </li>
  				<li><a href="http://localhost:3000/sessions">Session</a>  </li>
  				<li><a href="http://localhost:3000/users">Join</a>  </li>
  				
  			</ul>
		</nav> 

</div>
</body>