<h1>About the Developers</h1>
<head>
	<title> Team </title>
	<meta charset ="UTF-8">
</head>
<nav> <div id=float>
	
		<nav id="navigation">
			<ul>
  				<li><a href="http://localhost:3000"> Home </a>  </li>
  				<li><a href="http://localhost:3000/index/developer">The Team</a> </li>
  				<li><a href="http://localhost:3000/sessions">Admin</a>  </li>
  				<li><a href="http://localhost:3000/users">Join</a>  </li>
  				
  			</ul>
		</nav> 

</div>

