<h1>About the Developers</h1>
<head>
	<title> Team </title>
	<meta charset ="UTF-8">
</head>
<nav> <div id="float">
	<ul>
		<li><a href="http://localhost:3000"> Home </a>  </li>
		<li><a href="http://localhost:3000/index/developer">The Team</a> </li>
  		<li><a href="http://localhost:3000/index/admin">Admin</a>  </li>			
  	</ul>
</nav>

<body> 
	<p> Jammin was founded by Dan Bari a team member of Radcircle. </p> <br>
	<p> Radcircle was founded to share music and humanity in the best way possible </p><br>
	<p> Jammin is the next step to make that happen </p>
</body>
</div>


