<h1>Ready to Jam?</h1>
<head> 
	<title> Jammin </title>
	<meta charset="UTF-8">
</head>
<nav> <div id=float>
	
		<nav id="navigation">
			<ul>
  				<li><a href="http://localhost:3000"> Home </a>  </li>
          <li><a href="http://localhost:3000/index/developer">The Team</a> </li>
  				<li><a href="http://localhost:3000/index/admin">Admin</a>  </li>
  
  			
  			</ul>
		</nav> 

</div>

<h2><font = +1> The total number of jam sessions is <%= @session_count %> </font></h2>
<br>
<center><h2> The list of jam sessions right now </h2></center>
<br>
<center>

<table id="table" border = 3>

<th>Session Name </th><th> Users</th> <th> Instruments </th> </tr>
  
    <% @session_list.each do |m| %>
      <tr> <td> <%= m.title %> </td> <td> <%= m.users %></td><td><%= m.instruments %></td></tr>
    <% end %>
</table></center>
<center><p>&copy; All right reserved by Radcircle</p></center>
